{
	"endOfLine": "lf",
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 50,
	"arrowParens": "always",
	"emotionOrderConfigPath": ".emotionorderrc",
	"emotionOrderSeperation": true,
	"emotionOrderTextVisible": true,
	"emotionOrderUndefinedPosition": "back",
	"emotionOrderUndefinedSortMethod": "alpha",

	"emotionOrderDefaultCategoryEnable": true,
	"emotionOrderDefaultCategoryAddMode": "append",
	"emotionOrderDefaultCategoryConflictPosition": "auto",
	"emotionOrderDefaultCategoryConflictResolution": "merge",
	"emotionOrderDefaultCategoryStyleAddMode": "prepend",
	"emotionOrderDefaultCategoryConflictStylePosition": "auto",
	"emotionOrderDefaultCategoryConflictTextResolution": "replace",

	"emotionOrderNestedSeperation": true,
	"emotionOrderNestedIndexSortMethod": "ascend",
	"emotionOrderNestedUndefinedPosition": "front",
	"emotionOrderNestedUndefinedSortMethod": "alpha",

	"emotionOrderCaseInsensitiveStyle": false,
	"emotionOrderCaseInsensitiveNested": true,

	"plugins": [
		"@jadest/prettier-plugin-sort-imports"
	]
}
